@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 72 6% 64%;
    --foreground: 0 0% 0%;
    
    --card: 72 6% 64%;
    --card-foreground: 0 0% 0%;
 
    --popover: 72 6% 64%;
    --popover-foreground: 0 0% 0%;
 
    --primary: 72 5% 65%;
    --primary-foreground: 0 0% 0%;
 
    --secondary: 72 4% 25%;
    --secondary-foreground: 0 0% 0%;
 
    --muted: 72 4% 25%;
    --muted-foreground: 0 0% 0%;
 
    --accent: 72 4% 25%;
    --accent-foreground: 0 0% 0%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 0%;
 
    --border: 72 4% 25%;
    --input: 72 4% 25%;
    --ring: 72 5% 65%;
 
    --radius: 0.5rem;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-sauna-base text-foreground font-sans;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-display font-bold;
  }
}

.glass-card {
  @apply bg-white/30 backdrop-blur-sm border border-white/50 rounded-lg;
}

.hover-lift {
  @apply transition-transform duration-300 hover:-translate-y-1;
}

.text-gradient {
  @apply bg-clip-text text-transparent bg-gradient-to-b from-sauna-base via-sauna-stone to-sauna-muted;
}