@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 79 13% 72%;
    --foreground: 0 0% 0%;
    
    --card: 79 13% 72%;
    --card-foreground: 0 0% 0%;
 
    --popover: 79 13% 72%;
    --popover-foreground: 0 0% 0%;
 
    --primary: 34 57% 46%;
    --primary-foreground: 0 0% 0%;
 
    --secondary: 79 13% 72%;
    --secondary-foreground: 0 0% 0%;
 
    --muted: 79 13% 72%;
    --muted-foreground: 0 0% 20%;
 
    --accent: 79 13% 72%;
    --accent-foreground: 0 0% 0%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 0%;
 
    --border: 79 13% 62%;
    --input: 79 13% 62%;
    --ring: 34 57% 46%;
 
    --radius: 0.5rem;
  }
}
 
@layer base {
  * {
    @apply border-border font-mplus font-extralight;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

.glass-card {
  @apply bg-sauna-base backdrop-blur-sm border border-sauna-base/50 rounded-lg;
}

.hover-lift {
  @apply transition-transform duration-300 hover:-translate-y-1;
}

.text-gradient {
  @apply bg-clip-text text-transparent bg-gradient-to-r from-black via-black/90 to-black/80;
}